#1.
Question 1:A retail store wants to identify customers who make frequent purchases. Given the dataset below, write a Python program to:
Group customers by their IDs.


Calculate the total purchase amount per customer.


Identify the top 3 customers with the highest purchase amounts.


Dataset:
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

In [27]:
import pandas as pd

#Given Dataset 
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
       'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

#Creating a DataFrame
dataset = pd.DataFrame(data)
print(dataset)

   Customer_ID  Purchase_Amount
0          101              200
1          102              150
2          103              180
3          101              220
4          104              300
5          102              200
6          101              100
7          105              400
8          102              250
9          103              300

In [28]:
#groupby() ----> used to group the rows which should be applied with aggregation methods like .sum(), .mean() or .count()

group = dataset.groupby('Customer_ID')['Purchase_Amount'].sum()
print(group)

Customer_ID
101    520
102    600
103    480
104    300
105    400
Name: Purchase_Amount, dtype: int64

In [30]:
total_purchase_per_cust = dataset.groupby('Customer_ID')['Purchase_Amount'].sum().reset_index()
print(total_purchase_per_cust)

   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

In [31]:
#sort in descending order - use sort_values() ----> ascending=False ------>big to small
sorted_purchase = total_purchase_per_cust.sort_values(by = 'Purchase_Amount', ascending=False)
print(sorted_purchase)

   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480
4          105              400
3          104              300

In [42]:
#Top 3 customers - use head() -----> which returns the first n no of rows from the dataset
sorted_purchase = total_purchase_per_cust.sort_values(by = 'Purchase_Amount', ascending=False)
top3_customers = sorted_purchase.head(3)
print("Top 3 Customers with Highest Purchases:\n", top3_customers)

Top 3 Customers with Highest Purchases:
    Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [41]:
#Total Purchase Per Customer
total_purchase_per_cust = dataset.groupby('Customer_ID')['Purchase_Amount'].sum().reset_index()
print("Total Purchases per Customer:")
print(total_purchase_per_cust)
print()

#Top 3 customers - use head() -----> which returns the first n no of rows from the dataset
sorted_purchase = total_purchase_per_cust.sort_values(by = 'Purchase_Amount', ascending=False)
top3_customers = sorted_purchase.head(3)
print("Top 3 Customers with Highest Purchases:\n", top3_customers)

Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

Top 3 Customers with Highest Purchases:
    Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

#2. Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model.


Predict house prices for given test data.


Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]

In [8]:
import pandas as pd
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

#Creating a DataFrame
dataset = pd.DataFrame(data)
print(dataset)

   Square_Feet   Price
0         1500  300000
1         2000  400000
2         2500  500000
3         3000  600000
4         3500  700000

In [9]:
#Assigning Input Variable and Output Variable

independent = dataset[["Square_Feet"]]
dependent = dataset[["Price"]]

In [10]:
#Training a Model Using Linear Regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
regressor = model.fit(independent, dependent)

# Predicting for test data
test_data = [[1800], [2800]]
predictions = regressor.predict(test_data)

print("Predicted Prices:")
print(predictions)

Predicted Prices:
[[360000.]
 [560000.]]

/opt/anaconda3/envs/ml/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

#3:
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.


Count the total occurrences of each category.


Identify the top 3 most frequent categories.


Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [11]:
import pandas as pd

data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

#Creating a DataFrame

dataset = pd.DataFrame(data)
print(dataset)

   Category  Value
0         A     10
1         B     15
2         C     20
3         A     30
4         D     25
5         B     18
6         A     22
7         E     40
8         B     35
9         C     50
10        C     45
11        A     15

In [24]:
total_count = dataset.groupby('Category')['Value'].count()
print(total_count)

Category
A    4
B    3
C    3
D    1
E    1
Name: Value, dtype: int64

In [15]:
# Convert to DataFrame, reset index, rename column
total_occurrence = total_count.reset_index().rename(columns={'Value': 'Count'})
print("Total Occurrences per Category:")
print(total_occurrence)

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

In [43]:
# Top 3 Frequent Categories

top_freq_category = total_occurrence.sort_values(by='Count' , ascending = False)
print("Top 3 Frequent Categories:")
print(top_freq_category)

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

In [49]:
#Expected Output

total_occurrence = total_count.reset_index().rename(columns={'Value': 'Count'})
print("Total Occurrences per Category:")
print(total_occurrence)
print()
top_freq_category = total_occurrence.sort_values(by='Count' , ascending = False)
print("Top 3 Frequent Categories:")
top3_freq_category = top_freq_category.head(3)
print(top3_freq_category)

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [ ]:
#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column.


Display the updated DataFrame.


Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:

Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN

Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0

In [50]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}
dataset = pd.DataFrame(data)
print(dataset)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN

In [53]:
#To replace missing values use fillna() and then replace with mean

mean = dataset['Age'].fillna(dataset['Age'].mean(), inplace = True)
print(mean)

None

/var/folders/_d/9dyxj4t14ql55yv2t3fzbr7c0000gn/T/ipykernel_32617/4271179998.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mean = dataset['Age'].fillna(dataset['Age'].mean(), inplace = True)

In [54]:
## Print updated data
print("\nData after Imputation:")
print(dataset)

Data after Imputation:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

In [60]:
#Expected Output

import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}
dataset = pd.DataFrame(data)
print("Original Data:")
print(dataset)
print()

dataset['Age'].fillna(dataset['Age'].mean(), inplace = True)
#dataset.fillna({'Age':.mean()}, inplace=True)
print("\nData after Imputation:")
print(dataset)

Original Data:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN


Data after Imputation:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

/var/folders/_d/9dyxj4t14ql55yv2t3fzbr7c0000gn/T/ipykernel_32617/2805697943.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Age'].fillna(dataset['Age'].mean(), inplace = True)

In [ ]:
# 5: 
Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model.


Predict the salary for an individual with 6 years of experience.


Dataset:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

Expected Output (Example):

Predicted Salary for 6 years of experience: $55000


data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)

Expected Output (Example):
Prediction for email with 200 words: Spam

In [61]:
import pandas as pd
data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
#Creating a DataFrame
dataset = pd.DataFrame(data)
print(dataset)

   Experience  Salary
0           1   30000
1           2   35000
2           3   40000
3           4   45000
4           5   50000

In [67]:
independent = dataset[['Experience']]
dependent = dataset[['Salary']]
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
model = regressor.fit(independent,dependent)
print(model)

LinearRegression()

In [74]:
predictions = model.predict([[6]])
print("Predicted Salary for 6 years of experience: $",predictions)

Predicted Salary for 6 years of experience: $ [[55000.]]

/opt/anaconda3/envs/ml/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [82]:
predictions = model.predict([[6]])
print("Predicted Salary for 6 years of experience: $" + str(int(predictions[[0]])))

Predicted Salary for 6 years of experience: $55000

/opt/anaconda3/envs/ml/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/var/folders/_d/9dyxj4t14ql55yv2t3fzbr7c0000gn/T/ipykernel_32617/1257341400.py:2: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print("Predicted Salary for 6 years of experience: $" + str(int(predictions[[0]])))

In [83]:
predictions = model.predict([[6]])
print(f"Predicted Salary for 6 years of experience: $ {(int(predictions[[0]]))}")

Predicted Salary for 6 years of experience: $ 55000

/opt/anaconda3/envs/ml/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/var/folders/_d/9dyxj4t14ql55yv2t3fzbr7c0000gn/T/ipykernel_32617/1765728532.py:2: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(f"Predicted Salary for 6 years of experience: $ {(int(predictions[[0]]))}")

In [84]:
predictions = model.predict([[6]])
print(f"Predicted Salary for 6 years of experience: $ {int(predictions[[0]]):,}")

Predicted Salary for 6 years of experience: $ 55,000

/opt/anaconda3/envs/ml/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/var/folders/_d/9dyxj4t14ql55yv2t3fzbr7c0000gn/T/ipykernel_32617/1526066884.py:2: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(f"Predicted Salary for 6 years of experience: $ {int(predictions[[0]]):,}")

In [95]:
predictions = model.predict([[6]])
salary = float(predictions[0])
print(f"Predicted Salary for 6 years of experience: ${salary:,.2f}")

Predicted Salary for 6 years of experience: $55,000.00

/opt/anaconda3/envs/ml/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/var/folders/_d/9dyxj4t14ql55yv2t3fzbr7c0000gn/T/ipykernel_32617/2496328938.py:2: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  salary = float(predictions[0])